.lmj-banner {
	color: green;
	
	padding: 32px;
	border-bottom: solid 3px red;
	display: flex;
	justify-content: center;
	
	align-items: center;
}

.lmj-title {
	padding-left: 30px;
}

.lmj-logo {
	height: 45px;
	width: 45px;
}